<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   metadata-complete="false"
   version="3.1">

    <context-param>
        <param-name>BDBstore</param-name>
        <param-value>./MasterDatabase/</param-value>
    </context-param>
    <servlet>
        <servlet-name>MasterCrawler</servlet-name>
        <servlet-class>crawler.MasterCrawlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterCrawler</servlet-name>
        <url-pattern>/masterCrawler/*</url-pattern>
    </servlet-mapping>


    <display-name>SearchEngineServlet</display-name>
    <servlet>
         <servlet-name>MasterServlet</servlet-name>
         <servlet-class>searchengine.MasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>MasterServlet</servlet-name>
         <url-pattern>/searchEngine/*</url-pattern>
    </servlet-mapping>

</web-app>
