<html lang="en">
<head>
	<link rel="stylesheet" href="../styles/login.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<div class="login-page">
  <div class="text">Biker Phoenix</div>
  <div class="form">
    <a class="button" href="/login/facebook">Sign in with Facebook<br/></a>
    <a class="button" style="background-color: gray" href="/guest">Continue as a Guest</a>
  </div>
</div>
</head>
</html>